[Desktop Entry]
Type=Application
Name=ZyRoom-GTK-0.24
GenericName=Ryzom inventory viewer
Comment=Consultez vos inventaires Ryzom hors-ligne
Comment[en]=View your Ryzom inventories offline
Comment[de]=Ryzom-Inventare offline ansehen
Exec=zyroom-gtk
Icon=net.ryzom.zyroomgtk
Terminal=false
Categories=Game;
Keywords=Ryzom;inventory;inventaire;guild;
StartupWMClass=net.ryzom.zyroomgtk
